@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');

body{
    background-color: #fff;
    min-height: 100vh;
    font-family: 'Barlow Condensed', 'Arial', sans-serif;
}

#hero{
    background-color: #B35346;
    height: 640px;
    position: relative;
    background-image: url('/images/bc.jpg');
    background-size: cover;
}

.site-header{
    width: 100%;
    background-color: #B35346;
    position: fixed;
    z-index: 999;
}

.container{
    width: 100%;
    padding: 0 15px;
}

.nav-list{
    list-style: none;
}

.nav-item{
    padding: 40px 0;
    z-index: 23;
}

.nav-item:not(:first-child){
    margin-left: 50px;
}

.nav-link{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    line-height: 1.25em;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #d88f0f;
    display: inline-block;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all 0.4s;
    opacity: 0;
    transform: scale(0);
}

.nav-item:hover .nav-link::after{
    opacity: 1;
    transform: scale(1);
}

.btn-link{
    text-decoration: none;
    color: #fff;
}

.btn-link .bx{
    font-size: 18px;
}

.btn-item:not(:first-child){
    margin-left: 27px;
}

.drop-list{
    background-color: #fff;
    border: 1px solid #e7e7e7;
    width: 842px;
    padding-top: 15px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    list-style: none;
    display: none;
    overflow: hidden;
    z-index: 22;
}

.nav-item:hover .drop-list{
    display: flex;
}

.drop-item{
    padding: 0 15px;
    margin-bottom: 15px;
}

.inner-link img{
    transition: all 0.4s;
}

.inner-link:hover img{
    transform: scale(1.1);
}

.inner-title{
    margin: 15px 0 0;
    padding-bottom: 5px;
    position: relative;
}

.inner-link-title{
    text-transform: uppercase;
    color: #444;
    font-size: 14px;
    font-weight: 600;
    line-height: 110%;
    text-decoration: none;
}

.inner-title::after{
    position: absolute;
    bottom: -1px;
    width: 40px;
    height: 1px;
    background: #d88f0f;
    content: "";
    left: 50%;
    transform: translate(-50%, 0);
}

.category-item{
    padding: 0 15px;
    margin-bottom: 15px; 
}
.category-inner{
    display: flex;
    justify-content: flex-start;
}

.category-title{
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-weight: 600;
    color: #222;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;

}

.category-title::after{
    position: absolute;
    bottom: -1px;
    width: 40px;
    height: 1px;
    background: #d88f0f;
    content: "";
    left: 0;
}

.category-link{
    line-height: 30px;
    text-decoration: none;
    font-size: 14px;
    color: #484848;
}

.category-link::before{
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #484848;
    margin-right: 8px;
}

.category-link:hover{
    color: #d78a07;
}

.category-list{
    list-style: none;
}

.bottom-ipc{
    transition: all 0.4s;
}

.bottom-ipc:hover{
    transform: scale(1.1);
}

.shop-item-drop{
    padding: 0 15px;
    margin-bottom: 15px;
}

.shop-title{
    margin: 15px 0 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.shop-item-drop div{
    width: 100%;
    overflow: hidden;
}

.shop-item-drop img{
    transition: all 0.4s;
}

.shop-item-drop img:hover{
    transform: scale(1.1);
}

.modal-box{
    width: 100%;
    height: 100%;
    padding-top: 90px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: none;
    z-index: 1001;
    animation: modal 0.5s linear both;
    transition: all 0.5s linear;
    opacity: 0;
}

@keyframes modal{
    0% {
        top: -100%;
    }

    100%{
        opacity: 1;
        top: 0;
    }
}

.show-it{
    display: block;
}

.modal-entry{
    margin-bottom: 30px;
}

.modal-title{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    color: #222;
}

.modal-btn{
    cursor: pointer;
    font-size: 30px;
    margin-left: 5px;
    position: relative;
    top: 3px;
}

.modal-btn:hover{
    color: #d88f0f;
}

.input-part{
    border: none;
    flex-grow: 1;
    line-height: 50px;
    color: #222;
    font-size: 35px;
    font-weight: 400;
    border-bottom: 2px solid #222;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.form-group form{
    position: relative;
}

.search-modal-btn{
    position: absolute;
    top: 15px;
    right: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.input-part:focus{
    outline: none;
}

.search-modal-btn:hover{
    color: #d88f0f;
}

.search-modal-btn .bx-search{
    font-size: 25px;
    font-weight: 400;
    line-height: 1;
}

.user-modal{
    width: 320px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 70px 20px 50px;
    height: 100%;
    transition: all 0.3s cubic-bezier(.25,.46,.45,.94) 0s;
    background-color: #fff;
    min-width: 160px;
    border-radius: 3px;
    display: none;
    z-index: 12203;
    animation: user-modal 0.5s linear both;
    opacity: 0;
}

@keyframes user-modal{
    0% {
        right: -50%;
    }

    100%{
        opacity: 1;
        right: 0;
    }
}

.show-it-bitch{
    display: block;
}

.close-menu-bar{
    position: absolute;
    top: 15px;
    left: 20px;
}

.close-off{
    border-radius: 50%;
    background: rgba(0,0,0,.05);
    border: 9px solid transparent;
    color: #777;
    width: 36px;
    height: 36px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.close-off::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background-color: #777;
    transition: transform ease 0.25s;
    transform: rotate(45deg);
}

.locate{
    position: relative;
}

.functional-btns{
    width: 100%;
    position: absolute;
    justify-content: center;
}

.functional-btn{
    background: #222;
    color: #fff;
    width: 45px;
    height: 45px;
    margin: 0 5px;
    box-shadow: 0 1px 15px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: -2;
}

.functional-btn:first-child{
    position: absolute;
    left: 25px;
    bottom: 40px;
}

.functional-btn:nth-child(2){
    position: absolute;
    bottom: 40px;
}

.functional-btn:last-child{
    position: absolute;
    right: 25px;
    bottom: 40px;
}

.product-item:hover .functional-btn:first-child{
    bottom: 30px;
    transition-delay: 0s;
    opacity: 1;
    z-index: 3;
}

.product-item:hover .functional-btn:nth-child(2){
    bottom: 30px;
    transition-delay: 0.1s;
    opacity: 1;
    z-index: 3;
}

.product-item:hover .functional-btn:last-child{
    bottom: 30px;
    transition-delay: 0.2s;
    opacity: 1;
    z-index: 3;
}

.functional-btn:hover{
    background: #d88f0f;
    color: #fff;
}

.close-off::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background-color: #777;
    transition: transform ease 0.25s;
    transform: rotate(-45deg);
}

.close-off:hover::after{
    transform: rotate(0deg);
}

.close-off:hover::before{
    transform: rotate(0deg);
}

.user-title-wrap{   
    margin-bottom: 30px;
}

.user-title{
    color: #999;
    cursor: pointer;
    display: block;
    padding: 5px 0;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.1;
    width: 50%;
}

.user-title:first-child{
    border-right: 1px solid #e6e6e6;
    color: #222;
}

.email-control{
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #ccc;
    height: 50px;
    color: #666;
    padding: 0.6rem 1rem;
    transition: all 0.2s cubic-bezier(.7,0,.3,1);
    width: 100%;
    font-size: 1rem;
    line-height: 1.25;
}

.password{
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #ccc;
    height: 50px;
    color: #666;
    padding: 0.6rem 1rem;
    transition: all 0.2s cubic-bezier(.7,0,.3,1);
    width: 100%;
    font-size: 1rem;
    line-height: 1.25;
}

.email-control:focus{
    outline: none;
}

.password:focus{
    outline: none;
}

.log-in-btn{
    width: 100%;
    background: #222;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5rem 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    border: none;
}

.log-in-btn:hover{
    background: #d88f0f;
}

.forget{
    color: #999;
    padding: 4px 0;
    font-size: 15px;
    display: block;
    text-decoration: none;
}

.forget:hover{
    color: #d88f0f;
}

.compare-link{
    color: #222;
    padding: 15px 0;
    border-bottom: 1px solid #e6e6e6;
    font-size: 15px;
    display: block;
    text-decoration: none;
}

.compare-link:hover{
    color: #d88f0f;
}

.bx-collapse-alt{
    font-size: 16px;
    width: 20px;
}

.wishlist-link{
    color: #222;
    padding: 15px 0;
    border-bottom: 1px solid #e6e6e6;
    font-size: 15px;
    display: block;
    text-decoration: none;
}

.wishlist-link:hover{
    color: #d88f0f;
}

.bxs-heart{
    font-size: 16px;
    width: 20px;
}

.lang-select-link{
    color: #222;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 0;
    font-size: 15px;
    display: block;
    text-decoration: none;
    position: relative;
}

.flag{
    width: 20px;
    max-width: 20px;
    padding-right: 3px;
}

.lang-select-link .bx-chevron-down{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

}

.lang-select-link:hover{
    color: #d88f0f;
}

.currency-link{
    color: #222;
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 0;
    font-size: 15px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.bx-money{
    font-size: 15px;
    padding-right: 3px;
    width: 20px;
}

.currency-link .bx-chevron-down{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.currency-link:hover{
    color: #d88f0f;
}

/* header end */
/* hero-intro start */

.hero-intro{ 
    padding-top: 250px;
    position: relative;
    z-index: 11;
}

.hero-entry div:first-child{
    animation-delay: 1s;
}

.hero-entry div:nth-child(2){
    animation-delay: 1.10s;
}

.hero-entry div:nth-child(3){
    animation-delay: 1.15s;
}

.hero-entry div:nth-child(4){
    animation-delay: 1.20s;
}

.hero-entry div:nth-child(5){
    animation-delay: 1.25s;
}

.hero-entry div:nth-child(6){
    animation-delay: 1.30s;
}

.hero-entry div:nth-child(7){
    animation-delay: 1.35s;
}

.hero-entry div:nth-child(8){
    animation-delay: 1.40s;
}

.hero-entry div:nth-child(9){
    animation-delay: 1.45s;
}

.hero-entry div:nth-child(10){
    animation-delay: 1.50s;
}

.hero-entry div:nth-child(11){
    animation-delay: 1.55s;
}

.hero-entry div:nth-child(12){
    animation-delay: 1.60s;
}

.hero-entry div:nth-child(13){
    animation-delay: 1.75s;
}

.hero-entry div:nth-child(14){
    animation-delay: 1.80s;
}

.hero-entry div{
    font-weight: 400;
    font-size: 10.525px;
    color: #fff;
    line-height: 11.5117px;
    opacity: 0;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
    animation: appear 1s linear 1 both;

}

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.hero-title div:first-child{
    animation-delay: 1s;
}

.hero-title div:nth-child(2){
    animation-delay: 1.10s;
}

.hero-title div:nth-child(3){
    animation-delay: 1.15s;
}

.hero-title div:nth-child(4){
    animation-delay: 1.20s;
}

.hero-title div:nth-child(5){
    animation-delay: 1.25s;
}

.hero-title div:nth-child(6){
    animation-delay: 1.30s;
}

.hero-title div:nth-child(7){
    animation-delay: 1.35s;
}

.hero-title div:nth-child(8){
    animation-delay: 1.40s;
}

.hero-title div:nth-child(9){
    animation-delay: 1.45s;
}

.hero-title div:nth-child(10){
    animation-delay: 1.50s;
}

.hero-title div:nth-child(11){
    animation-delay: 1.55s;
}

.hero-title div:nth-child(12){
    animation-delay: 1.60s;
}

.hero-title div:nth-child(13){
    animation-delay: 1.65s;
}

.hero-title div:nth-child(14){
    animation-delay: 1.70s;
}

.hero-title div{
    font-weight: 500;
    font-size: 59.2031px;
    color: #fff;
    line-height: 59.2031px;
    opacity: 0;
    display: inline-block;
    margin-bottom: 20px;
    animation: appear 1s linear 1 both;
}

.hero-discover{
    color: #000;
    text-decoration: none;
    padding: 13.1562px 30.6979px;
    font-size: 14.0333px;
    background-color: #fff;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 14.0333px;
    transition: all 0.5s;
}

.hero-discover:hover{
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

/* hero end */
/* offer start */

.offer-intro{
    margin-bottom: 30px;
    position: relative;
}

.offer-img{
    max-height: 263px;
    overflow: hidden;
}

.offer-img img{
    transition: all 0.5s ease;
}

.offer-intro:hover img{
    transform: scale(1.1);
}

.banner-entry{
    position: absolute;
    top: 50%;
    bottom: auto;
    text-transform: uppercase;
    left: 10%;
    transform: translate(0, -50%);
}

.banner{
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #888;
    text-transform: uppercase;
}

.banner-title{
    font-weight: 500;
    font-size: 40px;
    color: #222;
    margin-bottom: 0.5rem;
}

.offer-discover{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 3px 0;
    border-bottom: 3px solid #d88f0f;
    margin-top: 20px;
    display: inline-block;
    background: transparent;
    color: #222;
    text-transform: uppercase;
}

/* offer end */
/* shop start */


.shop-list{
    margin: 30px 0 40px;
    list-style: none;
}

.shop-item{
    margin: 0 30px;
}

.shop-link{
    padding: 7px 0;
    color: #888;
    font-size: 20px;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s;
    position: relative;
}

.shop-link::after{
    width: 0;
    content: "";
    background: #e8bc6f;
    position: absolute;
    height: 3px;
    bottom: -5px;
    left: 0;
    display: inline-block; 
    opacity: 0;
    transition: all 0.5s;
}

.shop-link:hover{
    color: #222;
}

.shop-link:hover::after{
    width: 100%;
    opacity: 1;
}

.products{
    width: 100%;
    height: 759px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}

.product-item{
    width: 100%;
    height: 100%;
    position: relative;
}

.product-link{
    text-decoration: none;
}

.product-info{
    padding-top: 20px;
}

.discount{
    position: absolute;
    top: 0.5rem;
    z-index: 1;
    left: 1rem;
    list-style: none;
}

.discount-item{
    padding: 0 6px;
    margin: 2px 0;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
}

.discount-item:first-child{
    background: red;
}

.discount-item:nth-child(2){
    background: #2fb5d2;
}

.blue{
    padding: 0 6px;
    margin: 2px 0;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    background: #2fb5d2;
}

.star-title{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: #a3a3a3;
}

.star-title:hover{
    color: #d88f0f;
}

.bxs-star{
    color: #d8d8d8;
    margin: 0 1px 0 0;
    font-size: 14px;
}

.illusion .bxs-star{
    color: #fcbe32;
}

.product-title{
    margin-bottom: 5px;
    color: #222;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
}

.product-title:hover{
    color: #d88f0f;
}

.product-price{
    margin-bottom: 10px;
}

.crossed{
    color: #888;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
}

.dollar{
    color: #222;
    font-weight: 700;
    font-size: 1rem;
}

.product-btn{
    margin: 20px 0 30px;
    border: 1px solid #999;
    height: 60px;
    min-width: 280px;
    line-height: 60px;
    text-transform: uppercase;
    padding: 0 50px;
    font-size: 16px;
    letter-spacing: 3px;
    color: #222;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}

.product-btn:hover{
    background-color: #d88f0f;
    color: #fff;
    border-color: transparent;
}

/* shop end  */
/* blog start */

.blog-heading{
    margin: 50px 0 40px;
    line-height: 1;
}

.blog-title{
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 1.1;
    color: #222;
}

.blog-text{
    color: #666;
    font-weight: 400;
    line-height: 23px;
    font-size: 16px;
}

.blog-item{
    padding: 0 15px;
}

.blog-img{
    overflow: hidden;
}

.blog-inner-link{
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    margin: 15px 0 20px;
    font-weight: 600;
    color: #222;
    text-decoration: none;
}

.hashtag{
    margin-bottom: 20px;
}

.hashtag-link{
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #222;
}

.hashtag-date{
    font-size: 12px;
    text-transform: uppercase;
}

.blog-inner-desc{
    margin-bottom: 25px;
}

.blog-real-desc{
    color: #666;
    line-height: 1.25em;
}

.continue-link{
    display: inline-block;
    padding-bottom: 3px;
    font-size: 16px;
    border-bottom: 1px solid;
    text-decoration: none;
    color: #222;
}

.blog-link img{
    transition: all 0.5s ease;
}

.blog-item:hover .blog-link img{
    transform: rotate(5deg) scale(1.1);
}

.blog-inner-link:hover{
    color: #d88f0f;
}

.hashtag-link:hover{
    color: #d88f0f;
}

.continue-link:hover{
    color: #d88f0f;
}

.blog-btns{
    margin: 40px 0 80px;
}

.blog-btn{
    display: inline-block;
    border: 1px solid #e6e6e6;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 40px;
    min-width: 200px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.25;
    color: #222;
}

.blog-btn:hover{
    background: #222;
    color: #fff;
}

/* blog end */
/* scroll start */

.scroll-list{
    background: #f7f7f7;
    padding: 20px 0;
    list-style: none;
    overflow: hidden;
    display: flex;
}

.scroll-link{
    text-decoration: none;
}

.scroll-link img{
    display: block;
    margin: 0 auto;
    animation: scroll-img 5s ease-in-out infinite;
}

@keyframes scroll-img{
    0% {
        transform: translate3d(0px, 0px, 0px);
    }

    100%{
        transform: translate3d(-1266px, 0px, 0px);
    }
}

/* scroll end */
/* footer start */